.nav-header {
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #0d0d0d65;
  border-bottom: 1px solid rgb(200, 200, 200);
  backdrop-filter: blur(10px);
}

.nav::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #fdfdfd;
  border-radius: 61% 25% 19% 67% / 52% 43% 40% 48%;
  animation: moveElement 2.1s infinite linear;
}

.logo {
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* animation: rotateElement infinite linear; */

}

.logo img {
  width: 2.5rem;
  animation: rotateElement 20s linear infinite;
}

.logo h1 {
  font-family: 'Syne';
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
}

.logo a {
  background: linear-gradient(260deg, #6700d5 20%, #fff239 100%);
  color: #fdfdfd;
  background-clip: text;
  -moz-background-clip: text;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.nav-content-ul {
  display: flex;
  gap: 1rem;
  padding: .5rem;
}

.nav-content-ul a{
  color: #fdfdfd;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Syne";
  font-weight: 400;
  transition: 5ms;
  padding: .5rem 1rem;
  border-radius: 18px;
  /* background-color: var(--purple); */
  /* border:1px solid var(--blue); */
}

.nav-content ul a:hover {
  border-radius: 18px;
}
.nav-content-ul #nav-contact{
  border:2px solid var(--purple);
  border-radius:20px;
  transition: 100ms linear;
}
.nav-content-ul #nav-contact:hover{
  background-color:var(--purple);
  filter: drop-shadow(0px 0px 10px var(--purple));
}
.nav-content-ul #Plans{
  background-color: var(--purple);
}
.nav-content-ul #Plans img{
  width:1rem;
  height:1rem;
}
.nav-content-ul #Plans:hover{
  filter:drop-shadow(0 0 10px var(--purple));
}
.nav-content-ul #Plans span{
  font-size: .8rem;
  background-color: var(--yellow);
  border-radius:20px;
  padding: .05rem .5rem;
  margin-left:.1rem;
}

@keyframes rotateElement {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleElement {
  to {
    transform: scale(1.1) rotate(30deg);
  }

  from {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes moveElement {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

@media (max-width:1025px) {
  .nav {
    width: calc(100% - 2rem);
  }
}

@media (max-width:769px) {

  .nav-content .nav-content-ul {
    flex-direction: column;
    position: absolute;
    right: -30rem;
    top: 0;
    height: 100vh;
    width: 30rem;
    background-color: #2d2f31;
    z-index: -1;
    padding-top: 4rem;
    transition: .5s;
  }

  .hamburger {
    display: block;
    z-index: 12;
  }
}

@media (max-width:426px) {
  .logo img {
    width: 2rem;
  }

  .logo h1 {
    font-size: 1.2rem;
  }

  .hamburger svg {
    font-size: .7rem;
  }

  .logo {
    height: 3rem;
  }

  .nav-content .nav-content-ul {
    width: 15rem;
  }

  /* .nav-content .nav-content-ul {
    flex-direction: column;
    position: absolute;
    right: 32px;
    top: 70vh;
    height: 30vh;
    width: 100vw;
    background-color: #2d2f31;
    z-index: -1;
    padding-top: 0;
    transition: .5s;
    text-align: center;
    border-radius: 2rem 2rem 0 0;
    box-sizing: border-box;
  } */


  .nav-content-ul a {
    border-bottom: 1px solid gray;
    border-radius: 0;
  }

  .nav-content ul {
    gap: 1rem;
  }

  .nav-content ul a {
    border-radius: 0;
  }
}